@import "~bootstrap/scss/bootstrap";
@import "~noty/src/noty.scss";
@import "~noty/src/themes/mint.scss";

#dashboard-container-fluid {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
  width: 100%;
}

#dashboard-card {
  text-align: center;
  width: 60%;
  padding: 20px;
}

/* adapted from http://maxwells.github.io/bootstrap-tags.html */
.tag {
  font-size: 14px;
  padding: .3em .4em .4em;
  margin: 0 .1em;
}

.tag a {
  color: #bbb;
  cursor: pointer;
  opacity: 0.6;
}

.tag a:hover {
  opacity: 1.0
}

.tag .remove {
  vertical-align: bottom;
  top: 0;
}

.tag a {
  margin: 0 0 0 .3em;
}

.tag a .glyphicon-white {
  color: #fff;
  margin-bottom: 2px;
}

.Checkbox {
  width: 20px;
  height: 20px;
  position: relative;

  >* {
    position: absolute;
  }

  &-visible {
    border: 1px solid gray;
    width: 16px;
    height: 16px;
    margin: 2px;
    background: #fff;
    border: 1px solid hsl(0, 0, 87%);
    border-radius: 3px;
  }

  >input {
    z-index: 1;
    opacity: 0;
    left: 50%;
    top: 50%;
    transform: translatex(-50%) translatey(-50%);
    display: block;
    cursor: pointer;
    width: 20px;
    height: 20px;
  }

  >input:checked+.Checkbox-visible {
    background: #59cb59;
    border-color: #59cb59;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0nMTQnIGhlaWdodD0nMTQnIHZpZXdCb3g9JzAgMCAxNCAxNCcgeG1sbnM9J2h0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnJz48dGl0bGU+d2hpdGU8L3RpdGxlPjxwYXRoIGQ9J001LjM3OCAxMS4zN0wyIDcuNTlsMS40MzgtMS4yODZMNS4zNzQgOC40N2w1LjE4NS01Ljg0TDEyIDMuOTFsLTYuNjIyIDcuNDYnIGZpbGw9JyNmZmYnLz48L3N2Zz4=);
  }

  >input:hover+.Checkbox-visible {
    border-color: hsl(0, 0, 80%);
  }

  >input:hover:checked+.Checkbox-visible {
    border-color: #0ca750;
  }

  >input:focus+.Checkbox-visible {
    border-color: #59cb59;
  }
}

.btn-group-xs > .btn, .btn-xs {
    padding  : .25rem .4rem;
    font-size  : .875rem;
    line-height  : .5;
    border-radius : .2rem;
}
